body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    background: linear-gradient(to bottom, #c8f7f4, #ffffff);
}

/* BOTÃO VOLTAR */
.topo-apostila {
    padding: 20px;
}

.btn-voltar {
    text-decoration: none;
    background: #c86bfa;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* TÍTULO */
.titulo {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    color: #333;
}

/* PRODUTOS */
.produtos {
    display: flex;
    justify-content: center;
    gap: 50px; /* espaçamento grande entre os cards */
    padding: 40px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    color: #666;
}

/* BOTÕES */
.btn-saiba {
    margin-top: 10px;
    background: #6bd1c9;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.btn-comprar {
    margin-top: 10px;
    background: linear-gradient(45deg, #ff4da6, #ff85c1);
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

/* VÍDEO */
.video-explicacao {
    text-align: center;
    padding: 50px;
}

.video-explicacao iframe {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.preco {
    font-size: 24px;
    font-weight: bold;
    
    margin: 10px 0;
}

.preco1 {
    font-size: 24px;
    font-weight: bold;
    
    margin: 10px 0;
}

/* RESPONSIVO */
@media (max-width: 768px) {

    .produtos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .video-explicacao iframe {
        width: 100%;
        height: 200px;
    }

    .titulo {
        font-size: 28px;
    }
}